:root {
    --main-nav-color: #2A324B;
    --main-background-color: #767B91;
    --main-card-color: #C7CCDB;
    --main-text-color: #E1E5EE;
    --alt-color: #F7C59F;
}

.main-text-color {
    color: var(--main-text-color);
}
body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-background-color);
}

.main-nav-color {
    border-color: var(--main-nav-color);
    background-color: var(--main-nav-color);
}
.header {
    background-color: var(--main-nav-color);
    border-bottom: 10px;
    padding: 2rem 3rem;
}
h1,
h2,
h3, 
form{
    text-align: center;
}

button[type=submit] {
    background-color: var(--main-background-color);
    border-radius: 5px;
    padding: 0 1em;
}

button[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 1em;
}

.card-color {
    background-color: var(--main-card-color);
}

img {
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}
a:hover {
    color: var(--alt-color);
}
ul {
    list-style: none;
    padding-left: 0;
}
div.img {
    object-fit: cover;
}
.inline { 
    display:flex;
}

.inline > li {
    margin: 1em;
}

.readonly {
    background-color: rgb(231, 225, 225);
}


footer {
    margin: 0 auto;
    width: 100%; 
    background-color: var(--main-nav-color);
    padding: 2rem 3rem;
}


.caption-style {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}



.caption-style li{
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style li:hover .caption{
    opacity: 1;
    transform: translateY(-10px);
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
}

.caption-style .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    justify-content: center;
    bottom:0%;
    width: 100%;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.caption-style .caption-text{
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
    color: var(--main-text-color);
    text-align: center;
    width: 100%;
}

.img-sizing {
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.max-size {
    max-width: 1080px;
    max-height: 700px;
}
.max-size > img {
    object-fit: cover;
}